html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  color: white;
  background: linear-gradient(146.5deg, #230A11 -1.96%, #5D0D5F 97.8%);
}
body {
  margin: 0%;
}
.h1-container {
  display: flex;
  justify-content: center;
}
h1 {
  text-align: center;
  font-size: 6.5rem;
}
h3 {
  font-size: 2.7rem;
}
p {
  font-size: 1.7rem;
}
.top container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top container h2 {
  font-size: 3.7rem;
  margin-bottom: 0%;
  text-align: center;
}
.top container h3 {
  font-size: 2.7rem;
}
.top container button {
  padding: 1% 2%;
  border: 1px solid #6d58c6;
  border-radius: 8px;
  margin-bottom: 2%;
}
.top container button a {
  text-decoration: none;
  font-size: 1.7rem;
  color: #f977A1;
}
.middle {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-bottom: 2%;
}
.middle img {
  width: 45%;
  height: auto;
  margin-bottom: 2%;
}
@media (max-width: 500px) {
  .middle img {
    width: 80%;
  }
}
.bottom {
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  padding-top: 2.5%;
}
.bottom container {
  display: flex;
  justify-content: center;
  width: 59%;
  color: #6d58c6;
}
@media (max-width: 500px) {
  .bottom container {
    flex-direction: column;
    width: 95%;
  }
}
.bottom container .photos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
}
@media (max-width: 500px) {
  .bottom container .photos-container {
    border-bottom: 1px dashed #f977A1;
    padding-bottom: 2%;
  }
}
.bottom container .photos-container .far.fa-image {
  font-size: 3rem;
  padding-top: 6%;
  color: #6b6778;
}
.bottom container .photos-container h3 {
  margin-bottom: 0%;
}
.bottom container .stories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
}
@media (max-width: 500px) {
  .bottom container .stories-container {
    border-top: 1px dashed #f977A1;
    border-bottom: 1px dashed #f977A1;
    padding-bottom: 2%;
  }
}
.bottom container .stories-container .fas.fa-video {
  font-size: 3rem;
  padding-top: 6%;
  color: #6b6778;
}
.bottom container .stories-container h3 {
  margin-bottom: 0%;
}
.bottom container .connect-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
}
@media (max-width: 500px) {
  .bottom container .connect-container {
    border-top: 1px dashed #f977A1;
  }
}
.bottom container .connect-container .fas.fa-user-friends {
  font-size: 3rem;
  padding-top: 6%;
  color: #6b6778;
}
.bottom container .connect-container h3 {
  margin-bottom: 0%;
}
.logo-font {
  font-family: 'Montserrat', sans-serif;
  margin-right: 1%;
}
