.universal-header {
    margin-top: 1%;
    
    .header-top{
        display: flex;
        justify-content: space-between;

        .social-media {
            display: flex;
            justify-content: center;
            width: 30%;

            a {
                text-decoration: none;
                color: black;
                margin-left: 1%;
            } // closes a
        } // closes .social-media
    
        nav {
            display: flex;
            width: 42%;
            font-size: 2rem;
            justify-content: center;
            margin-bottom: 2%;
            
            a {
                text-decoration: none;
                color: black;
                margin-left: 2%;
                margin-right: 2%;
            } // closes a
        } // closes nav

        div {
            width: 25%;
            margin-left: 10%;
        } // closes div
    } // closes .header-top

    h1 {
        text-align: center;
        font-size: 5rem;
        margin-bottom: 2%;
    } // closes h1
} // closes .universal-header

    

    
